p {
  font-size: 80px;
}

h1 {
  font-size: 800% !important;
  padding-bottom: 5%;
}

h3{
  padding:5%
}
h6{
  padding: 0%;
}

body {
  background-color: #ff0000 !important;
}

#divv{
  margin-bottom: 30px;
}

.btn {
  font-size: 20px;
  margin: 40px;
  margin-bottom: 20px;
  border-width: 5px;
}

div{
  padding: 15px 32px;
}

button{
  margin: 30px;
}
