p {
  font-size: 80px;
}

h1,h2 {
  padding-top: 5%;
  font-size: 100px;
}

h3{
  padding:5%
}


body {
  background-color: #ff0000 !important;
}

#divv{
  margin-bottom: 30px;
}

.btn {
  font-size: 20px;
  margin: 40px;
  margin-bottom: 20px;
  border-width: 5px;
}

div{
  padding: 15px 32px;
}

button{
  margin: 30px;
}
